.heading{
  background-color: #FBDFD3;
  display: flex;
  padding: 4vh;
  justify-content: center;
  gap: 50px;
  font-size:20px;
  font-weight: bold;
  margin: 10px;
  position: sticky;
  top: 0;
}

.body {
  margin: 0; 
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 70vh;
  font-size: 30px;
  font-weight: bold;
}

.error{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}